<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBA6B-_RoICdotdXQ7u0LVDtFepx2D7ODg"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            mapTypeId: "hybrid",
            zoom: 14,
            center: new google.maps.LatLng(38.216901, -85.759215)
        });

        new google.maps.Polyline({
            clickable: false,
            geodesic: true,
            strokeColor: "#FFA500",
            strokeOpacity: 1.000000,
            strokeWeight: 7,
            map: map,
            path: [
                new google.maps.LatLng(38.217526, -85.755346),
                new google.maps.LatLng(38.217801, -85.755574),
                new google.maps.LatLng(38.217801, -85.755574),
                new google.maps.LatLng(38.217626, -85.755906),
                new google.maps.LatLng(38.217626, -85.755906),
                new google.maps.LatLng(38.217418, -85.756256),
                new google.maps.LatLng(38.217418, -85.756256),
                new google.maps.LatLng(38.217452, -85.756621),
                new google.maps.LatLng(38.217452, -85.756621),
                new google.maps.LatLng(38.217486, -85.756937),
                new google.maps.LatLng(38.217486, -85.756937),
                new google.maps.LatLng(38.217549, -85.757501),
                new google.maps.LatLng(38.217549, -85.757501),
                new google.maps.LatLng(38.217574, -85.757710),
                new google.maps.LatLng(38.217574, -85.757710),
                new google.maps.LatLng(38.217621, -85.758311),
                new google.maps.LatLng(38.217621, -85.758311),
                new google.maps.LatLng(38.217374, -85.758600),
                new google.maps.LatLng(38.217374, -85.758600),
                new google.maps.LatLng(38.217098, -85.758871),
                new google.maps.LatLng(38.217098, -85.758871),
                new google.maps.LatLng(38.217187, -85.759187),
                new google.maps.LatLng(38.217187, -85.759187),
                new google.maps.LatLng(38.217052, -85.759407),
                new google.maps.LatLng(38.217052, -85.759407),
                new google.maps.LatLng(38.216917, -85.759837),
            ]
        });

        new google.maps.Polyline({
            clickable: false,
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.000000,
            strokeWeight: 7,
            map: map,
            path: [
                new google.maps.LatLng(38.217526, -85.755346),
                new google.maps.LatLng(38.217801, -85.755574),
                new google.maps.LatLng(38.217801, -85.755574),
                new google.maps.LatLng(38.217626, -85.755906),
                new google.maps.LatLng(38.217626, -85.755906),
                new google.maps.LatLng(38.217418, -85.756256),
                new google.maps.LatLng(38.217418, -85.756256),
                new google.maps.LatLng(38.217452, -85.756621),
                new google.maps.LatLng(38.217452, -85.756621),
                new google.maps.LatLng(38.217486, -85.756937),
                new google.maps.LatLng(38.217486, -85.756937),
                new google.maps.LatLng(38.217549, -85.757501),
                new google.maps.LatLng(38.217549, -85.757501),
                new google.maps.LatLng(38.217574, -85.757710),
                new google.maps.LatLng(38.217574, -85.757710),
                new google.maps.LatLng(38.217621, -85.758311),
                new google.maps.LatLng(38.217621, -85.758311),
                new google.maps.LatLng(38.217374, -85.758600),
                new google.maps.LatLng(38.217374, -85.758600),
                new google.maps.LatLng(38.217098, -85.758871),
                new google.maps.LatLng(38.217098, -85.758871),
                new google.maps.LatLng(38.217187, -85.759187),
                new google.maps.LatLng(38.217187, -85.759187),
                new google.maps.LatLng(38.217052, -85.759407),
                new google.maps.LatLng(38.217052, -85.759407),
                new google.maps.LatLng(38.216917, -85.759837),
            ]
        });

        new google.maps.DirectionsService().route({
            origin: new google.maps.LatLng(38.217526, -85.755346),
            destination: new google.maps.LatLng(38.216917, -85.759837),
            travelMode: "WALKING"
        }, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                new google.maps.DirectionsRenderer({map: map}).setDirections(response);
            }
        });

    }
</script>
<title>CSE 350 Project</title>
<meta property="og:title" content="CSE 350 Project" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
<meta property="twitter:card" content="summary_large_image" />
<style media="all">
   html, body{height:100%;}

   /* for IE 6, if you care */
   body, p { margin:0; padding:0}
</style>
<!-- Add homepage css !-->
<style data-tag="reset-style-sheet">
   html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
</style>

<style data-tag="default-style-sheet">
   html {
   font-family: Inter;
   font-size: 16px;
   }
   body {
   font-weight: 400;
   font-style:normal;
   text-decoration: none;
   text-transform: none;
   letter-spacing: normal;
   line-height: 1.15;
   color: var(--dl-color-gray-black);
   background-color: var(--dl-color-gray-white);
   }
</style>
<link
   rel="stylesheet"
   href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
   data-tag="font"
   />
</head>
<body onload="initialize()">
   <!-- from index !-->
   <link rel="stylesheet" href="../../static/style.css" />
   <div>
   <link href="../../static/index.css" rel="stylesheet" />
   <div class="home-container">
      <div class="home-main-row">
         <div class="home-sidebar">
            <nav class="home-content">
               <div class="home-container1">
                  <img
                     alt="pastedImage"
                     src="../../static/public/external/pastedimage-v7v-200w.png"
                     class="home-cardinal-icon"
                     />
                  <h1 class="home-text">CardsBestRoute</h1>
                  <div class="popup" onclick="myFunction()">Steps
                    <span class="popuptext" id="myPopup">
                        <div class="popup-textlist">
                           <ol>
                               <li>Head <b>southeast</b> toward <b>S Floyd St</b> 118 ft</li>
<li>Turn <b>left</b> toward <b>S Floyd St</b> 98 ft</li>
<li>Turn <b>right</b> onto <b>S Floyd St</b> 0.1 mi</li>
<li>Turn <b>right</b> toward <b>University Blvd</b> 0.1 mi</li>
<li>Turn <b>right</b> onto <b>University Blvd</b> 367 ft</li>
<li>Turn <b>right</b> 85 ft</li>
<li>Turn <b>right</b> 495 ft</li>
<li>Turn <b>right</b> 23 ft</li>
<li>Turn <b>left</b> 213 ft</li>
<li>Turn <b>right</b> 180 ft</li>
<li>Turn <b>left</b> 197 ft</li>Your walk will cover 0.6 mi and will take a total time of 12 mins.
                           </ol>
                        </div>
                    </span>
                  </div>
               </div>
               <div class="home-start">
                  <form action=/Form method="POST">
                     <h1 class="home-text01">
                        <span>Start:&nbsp;</span>
                        <br />
                        <br />
                        <br />
                        <br />
                     </h1>
                     <div class="search-input">
                        <input
                           type="text"
                           placeholder="Choose starting point.."
                           class="home-textinput input"
                           name="startpoint"
                           />
                        <div class="autocom-box">
                           <li>Hi</li>
                           <li>Hello</li>
                           <li>How are you?</li>
                        </div>
                     </div>
                     <h1 class="home-text07">
                        <span>End:&nbsp; &nbsp;</span>
                        <br />
                        <span>&nbsp;</span>
                        <br />
                        <br />
                        <br />
                        <br />
                     </h1>
                     <div class="search2-input">
                        <input
                           type="text"
                           name="endpoint"
                           placeholder="Choose destination.."
                           class="home-search-button input"
                           />
                        <div class="autocom-box2">
                           <li>Hi</li>
                           <li>Hello</li>
                           <li>How are you?</li>
                        </div>
                     </div>
                     <button id="searchbutton" type="submit" class="home-button button" id="search">
                     <span>
                     <span>Search</span>
                     <br />
                     </span>
                     </button>
                  </form>
               </div>
               <div class="shortcut" onclick="myFunction2()">Shortcut
                    <span class="shortcut_box" id="myShortcut">
                        <div class="shortcut-text">
                           Your walk will cover 0.46143173386461056 mi and will take a total time of 0:04:37.970924.
                        </div>
                    </span>
              </div>
               
            </nav>
            <nav class="home-credits">
            <span class="home-text18">Hilton Benson, Morgan Taylor, Emujin Zolbayar, Hadey Chaker&nbsp;</span>
            </nav>
            </div>
            <div class="map_canvas" id="map_canvas" ></div>
         </div>
      </div>
   </div>
   <script src="{{ url_for('static', filename='suggestions_demo.js') }}"></script>
   <script src="{{ url_for('static', filename='script.js') }}"></script>
   <script src="{{ url_for('static', filename='script2.js') }}"></script>
   <script src="{{ url_for('static', filename='script3.js') }}"></script>
   <script>
        // When the user clicks on <div>, open the popup
        var popup = document.getElementById("myPopup");
        var shortcut = document.getElementById("myShortcut");
        function myFunction() {
          popup.classList.toggle("show");
          shortcut.classList.remove("show");
        }

        function myFunction2() {
          shortcut.classList.toggle("show");
          popup.classList.remove("show");
        }
   </script>
</body>
</html>
